@use '../../styles/utils.scss' as *;

.chapterContainer {
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  font-weight: 300;
  gap: 1em;

  .currentChapter {
    opacity: 0.5;
    font-size: 0.8rem;
  }

  .chapterName {
    opacity: 1;
    font-size: 1rem;
  }

  .btn {
    font-family: $main-font;
    color: white;
    width: 11.5rem;
    height: 2.063rem;
    background-color: #0290ff;
    border-radius: 3px;
    border: none;
    margin-top: 2em;

    &:hover {
      background-color: #0064b1;
    }

    &:active {
      background-color: #cf9903;
    }
  }
}
